.f-cont{
    display: flex;
    align-items: center;
    justify-content:center;
    left: 0;
    margin-top: 3%;
    background-image: url("./../../public/bg.png");
    background-size: cover;
    color: black;
    width: 100%;
	min-height: 100vh;
}
.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
.signup_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.login_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.f-cont form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}
.ltitle{
    margin: 2rem 3rem;
}
.lform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_container h1 {
	font-size: 40px;
	margin: 0.4rem 3rem;
}
 .g1 input ,.f-cont input{
   /* height: 2.3rem;
    padding: 0 0.6rem;
    margin-bottom: 1.2rem;
    border-radius: .3rem;
    border: 1px solid black;
    */
    outline: none;
	border: 1px solid black;
    box-shadow: 2px 3px rgb(99, 90, 90);
	padding: 15px;
	border-radius: 10px;
	background-color:transparent;
	margin: 10px 0;
	font-size: 14px;
}
 .select{
    background: transparent;
    border: 1px solid black;
    border-color: black;
    box-shadow: 4px 3px rgb(100, 97, 97);
    border-radius: .3rem;
}

.f-cont textarea{
    /* height: 3rem; */
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid black;
}

.f-cont button{
    display: inline;
    box-shadow: 4px 3px rgb(100, 97, 97);
    background: transparent;
    margin: 0.4rem 3rem;
}
.linput{
    height: 2.3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid black;
    width: 20rem;
}
.lbtn{
    border: none;
	outline: none;
	padding: 12px 0;
    color: rgb(73, 61, 67);
	background-color:transparent;
	border-radius: 20px;
    margin: 0.4rem 3rem;
	width: 180px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
    box-shadow: 4px 4px rgb(100, 97, 97);
}
.lbtn:hover{
    background-color: rgb(250, 215, 215);
}
.left {
	flex: 1 ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
    
}
.left h1 {
	margin-top: 0.5rem;
	font-size: 30px;
	align-self: center;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
    color: rgb(73, 61, 67);
	background-color:transparent;
	border-radius: 20px;
	width: 180px;
    box-shadow: 4px 4px rgb(100, 97, 97);
    margin: 0.6rem 3rem;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.white_btn:hover{
    background-color: rgb(250, 215, 215);
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:transparent;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}

.right h1 {
	margin-bottom: 0.3rem ;
	font-size:40px;
	align-self: center;
}

@media screen and (max-width: 850px) {
    .f-cont{
        margin: 4rem 2rem;
    }

    .f-cont form{
        padding-top: 2rem;
        
        width: 90%;
        
    }

    input:focus {
        background-color: yellow;
      }
      input {
        background-color: #f1f1f100;
      }
      
}
.g1{
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-image: url("./../../public/bg.png");
    background-size: cover;
    */
    display: flex;
    align-items: center;
    justify-content:center;
    left: 0;
    margin-top: 3%;
    background-image: url("./../../public/bg.png");
    background-size: cover;
    color: black;
    width: 100%;
	min-height: 100vh;
}