*{
    text-decoration: none;
}
.mtp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;   
    height: 100%;
    background-color: rgb(202, 193, 193);
    z-index: 1000;
    padding-top: 7rem ;
}
.pairs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;   
}
.ph1{
    font-size:  4rem;
    margin: 3rem 2rem;
}

.level{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    font-size: 1.2rem;
    border: 2px solid #333;
    margin: 1.2rem 9rem;
    border-radius: 50%;
    background-color:  rgba(39, 1, 1, 0.647);
    
 
}
.level h3{
    text-decoration: none;
    color:rgb(248, 97, 42);
    margin: 0;
}